html{
    background-color: black;
    
}

body {
    
    text-align: left;
}

h1 {
    text-align:center;
    font-family: 'Menlo', sans-serif;           
    color: #20C20E;
}
.terminal,
span,
.cmd,
div {
    color: #20C20E;
}
.terminal,
span {
    size: 1.4;
}
.terminal{
    
    margin: auto;
    width: 50%;
    padding: 10px;
}
