#HL {
    text-align: center;
}

.comicText {
    font-family: "Courier New";
    font-size: 40px;
    font-style: italic;
    font-weight: 900;

}
#static-circles {
    
}
div {
    text-align: center;
}